@model UpdateProcessDto
@{
    ViewData["Title"] = "Süreç Güncelleme";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h5>@Html.ValidationSummary()</h5>
<form method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <label class="form-label">Başlık</label>
    <input type="text" class="form-control" asp-for="@Model.Title" /><br />
    <label class="form-label">Açıklama</label>
    <textarea type="text" class="form-control" asp-for="@Model.Description"> </textarea>
    <br />
   
    <button class="btn btn-primary" type="submit"><i class="fa fa-plus-circle"></i> Güncelle</button>
</form>

