@model CreateBannerDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<h1>Banner</h1>

<form method="post">
    <label class="form-label">Başlık</label>
    <input class="form-control" asp-for="Title" type="text" />

    <label class="form-label">Açıklama</label>
    <input class="form-control" asp-for="Description" type="text" />

    <label class="form-label">Resim</label>
    <input class="form-control" asp-for="ImageUrl" type="text" />
    <br />
    <button type="submit" class="btn btn-primary">Kaydet</button>

</form>


