@model CreateBookingDto 
@{
    Layout = null;
}

<form method="post" id="formulaire" asp-action="SetBooking" asp-controller="Default">
    <div class="row g-3">
        <div class="col-12">
            <select class="form-control" asp-items="@ViewBag.Brands" name="ModelName" id="brand" required>
                <option selected disabled>Araba Markası Seçin</option>
            </select>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span> <span class="ms-1">Alma Konum </span>
                </div>
                <input class="form-control" type="text" id="pickuplocation" asp-for="PickUpLocation" required placeholder="Bir Şehir ya da Havalimanı Girin" />
            </div>
        </div>
        <div class="col-12">
            <a href="#" class="text-start text-white d-block mb-2">Need a different drop-off location?</a>
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-map-marker-alt"></span><span class="ms-1">Bırakma Konum</span>
                </div>
                <input class="form-control" type="text" id="dropuplocation" asp-for="DropUpLocation" required placeholder="Bir Şehir ya da Havalimanı Girin" />
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-calendar-alt"></span><span class="ms-1">Saat Kaçta ?</span>
                </div>
                <input class="form-control" type="date" id="pickdate" required asp-for="PickUpTime" />
                <select class="form-select ms-3" type="time" aria-label="Default select example" id="picktime" required asp-for="PickUpHour">
                    <option selected>12:00AM</option>
                    <option value="1">1:00AM</option>
                    <option value="2">2:00AM</option>
                    <option value="3">3:00AM</option>
                    <option value="4">4:00AM</option>
                    <option value="5">5:00AM</option>
                    <option value="6">6:00AM</option>
                    <option value="7">7:00AM</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <div class="input-group">
                <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                    <span class="fas fa-calendar-alt"></span><span class="ms-1">Drop off</span>
                </div>
                <input class="form-control" type="date" required id="dropdate" asp-for="DropOffTime" />
                <select class="form-select ms-3" type="time" aria-label="Default select example" required id="droptime" asp-for="DropUpHour">
                    <option selected>12:00AM</option>
                    <option value="1">1:00AM</option>
                    <option value="2">2:00AM</option>
                    <option value="3">3:00AM</option>
                    <option value="4">4:00AM</option>
                    <option value="5">5:00AM</option>
                    <option value="6">6:00AM</option>
                    <option value="7">7:00AM</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-light w-100 py-2" type="submit">Kiralama uygula</button>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById('formulaire').addEventListener("submit",function(event){
        event.preventDefault();
        let formData={
            ModelName:document.getElementById('brand').value,
            PickUpLocation:document.getElementById('pickuplocation').value,
            DropUpLocation : document.getElementById('dropuplocation').value,
            PickUpTime:document.getElementById('pickdate').value,
            PickUpHour :document.getElementById('picktime').value,
            DropTime : document.getElementById('dropdate').value,
            DropUpHour : document.getElementById('droptime').value,
        };//Checking whether the is an empty field 
        // if (!formData.ModelName || !formData.PickUpLocation || !formData.DropOffLocation ||
        // !formData.PickUpTime  || !formData.DropTime) {
        // Swal.fire({
        //     position: "top-end",
        //     title: "Eksik Bilgi!",
        //     text: "Lütfen tüm alanları doldurun.",
        //     icon: "warning",
        //     showConfirmButton: true
        // }); return;}
        fetch("/Default/SetBooking",{
             method: "POST",
             headers:{
                       "Content-Type": "application/json",
                      "Accept" : "application/json",
                   },
             body: JSON.stringify(formData)
        })
         .then(response => response.json()) // Convertir la réponse en JSON
         .then(data => {
              if (data.success) {
                  Swal.fire({
                      position:"top-end",
                      title: "Talebiniz başarıyla Gönderildi!",
                      text: data.message,
                      icon: "success",
                      timer: 1500
                  });
                       // Resetting my form areas
                  document.getElementById('formulaire').reset();
              }
              else{
                   Swal.fire({
                           position:"top-end",
                           title: "İşlem Başarısız!",
                           text: data.message,
                           icon: "error",
                           showConfirmButton: true,
                           timer: 6000 
                   });
              }
         })
         .catch(error => {
                   // Erreur réseau ou autre : afficher un message d'erreur
                   console.error('Bir hata oluştu',error);
                   Swal.fire({
                       position:"top-end",
                       title: "Error!",
                       text: "Bir hata oluştu.",
                       icon: "error",
                       showConfirmButton: true,
                       timer:1500
                   });
         });
 
    });

</script>